<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<h1>the HR feed</h1>
<div ng-controller="MainCtrl">
  <form>
    <label for="newurl">URL: </label>
    <input type="text" id="newurl" name="newurl" ng-model="newUrl.url" />
    <button ng-click="addFeed()">Add Feed</button>
  </form>

  <div>
    <h4>Test Feed</h4>
    <feed summary="true" url="{{feeds[0].url}}" count="5"/>
  </div>



<!--   <div ng-repeat="feed in feeds">
    <pre>{{ feed.url }}</pre>
    <feed summary="true" url={{feed.url}} count="5"/>
  </div> -->

</div>


